<h1>{{ board.title }}</h1>
<select ng-options='board as board.title for board in boards' ng-model='board'></select>
<a ng-click='deleteBoard()'>Delete Board</a>
<a ui-sref='djello.newboard'>New Board</a>

<div class="row">
  <a ui-sref='djello.board.lists.new'>Add a list</a>

  <div class="col-xs-3" ng-repeat="list in board.lists">
    <h3>{{ list.title }}</h3>
    <p>{{ list.description }}</p>

    <div class="row" ng-repeat="card in list.cards">
      <div class="col-xs-12">
        <h4>{{ card.title }}</h4>
        <p>
          {{ card.description }}
        </p>
      </div>
    </div>
  </div>

  <!-- <div ui-view='djello.board.lists'></div> -->
</div>
