<h1>{{ board.title }}</h1>
<select ng-options='board as board.title for board in boards' ng-model='board'></select>
<a ng-click='deleteBoard()'>Delete Board</a>
<a ui-sref='djello.newboard'>New Board</a>

<div class="row">
  <a ui-sref='djello.newlist({board: board, id: board.id})'>Add a list</a>

  <div class="col-xs-3" style='border: 2px solid black; border-radius: 5px' ng-repeat="list in board.lists">
    <h3>{{ list.title }}</h3>
    <p>{{ list.description }}</p>

    <div class="row" ng-repeat="card in list.cards" style='border: 1px solid black; border-radius: 2px'>
      <div class="col-xs-12" ng-click='open(card)'>
        <p>{{ card.title }}</p>
        <p>
          {{ card.description }}
        </p>
      </div>
    </div>
    <div>
      <p>Add Card</p>
    </div>
  </div>

  <div ng-repeat='member in board.members'>
    <p>{{ member.username }}</p>
  </div>

</div>
