<div class="modal-header">
  <h3 class="modal-title" editable-text='card.title' onaftersave='updateCard()'>{{ card.title }}</h3>
</div>
<div class="modal-body">
  <p editable-textarea='card.description' onaftersave='updateCard()'>{{ card.description }}</p>
  <h4>Members:</h4>
  <ul>
    <li ng-repeat='member in card.members'>
      <p>{{ member.username }}</p>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="deleteCard()">Completed</button>
</div>
